@font-face {
    font-family: 'Provicali';
    src: url("../fonts/Provicali.otf") format('opentype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Seravek-Bold';
    src: url("../fonts/seravek-bold.ttf") format('truetype');
    font-style: normal;
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 10px; /* ancho de la barra de desplazamiento */
    height: 10px; /* alto de la barra de desplazamiento */
    background-color: #f0f0f0; /* color de fondo de la barra de desplazamiento */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #DBB41E; /* color del botón de desplazamiento */
    border-radius: 10px; /* redondear los bordes del botón de desplazamiento */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #35783C; /* color de fondo de la pista de desplazamiento */
    border-radius: 10px;
  }

.centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titulo-centro{
    text-align: center;
    font-family: Provicali;
    font-size: 40px;
}

.green-lines {
    border-top: 3px solid green;
    border-bottom: 3px solid green;
    padding: 46vh;
    margin-top: 25px;
    position: relative;
  }

.plus {
    position: fixed;
    top: 6vh;
    left: 0vw;
    width: 6%;
}

.px {
    position: fixed;
    top: 6vh;
    right: -1vw;
    width: 8%;
}
.p- {   
    font-family: Provicali;
    font-size: 400px;
    color: #35783C;
    position: fixed;
    bottom: 100px;
    right: -95px;
}

.title {
    font-family: Seravek-Bold;
    font-size: 50px;
    color: #DBB41E;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle {
    font-family: Seravek-Bold;
    font-size: 40px;
    color: #35783C;
    text-align: center;
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 30px;
}

@keyframes line {
    0% {
        border-radius: 50%;
    }
    100% {
        border-radius: 0%;
    }
}

.circulo {
    width: 60%;
    height: 45%;
    border-radius: 50%;
    background: rgb(27, 27, 27);
    background: linear-gradient(0deg, #eeeeee 50%, #DBB41E 50%);
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: line;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes line_2 {
    0% {
        border-radius: 50%;
        width: 35rem;
    }
    100% {
        border-radius: 0%;
        width: 70rem;
    }
}

.circulo-pequeño {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 57rem;
    height: 17rem;
    background-color: #eeeeee;
    border-radius: 50%;
    animation-name: line_2;
    animation-duration: 5s; /* Duración de la animación en segundos */
    animation-fill-mode: forwards;
}

.inverted-border-radius {
    position: relative;
    height: 100px;
    width: 325px;
    background-color: #87a938;
    border-radius: 25px 25px 25px 0;
  }
  
  .inverted-border-radius::before {
    content: "";
    position: absolute;
    
    background-color: transparent;
    bottom: -50px;
    height: 50px;
    width: 25px;
    border-top-left-radius: 25px;
    box-shadow: 0 -25px 0 0 #87a938;
  }

.cornerleft {
    position: absolute;
    bottom: 0vh;
    width: 20%;
}

.nav-scroll {
    overflow: auto;
  }

/*** ESTILOS BOTÓN GROW ON HOVER ***/
.grow-btn:hover {
    box-shadow: inset 0 0 0 2em var(--hover);
    transform: scale(1.1); /* increase size */
    
}

.grow-btn {
    --hover: #35783C;
    -webkit-transition: 0.25s;
    transition: 0.5s;
  }

/*** ESTILOS BOTÓN Select file ***/ 

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    border-radius: 10px;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
	font-size:16px; 
	font-weight:normal;
	font-family: 'Lato';
}

/* style 1 */

.inputfile-1 + label {
    color: #fff;
    background-color: #4caf50;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #257c28;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

.character-figure {
    width: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    filter: drop-shadow(0 14px 5px rgba(0, 0, 0, 0.7));
}
/*Home Button*/
.home-button{
    background: #87a938;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 1em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
  }
  .home-button:hover{
    background: #e9b600;
    color: #ffffff;
    border-radius: 100px;
  }
  .home-button:before,.home-button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  .home-button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .home-button:hover:before,.home-button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

.background-index{
    left: 25%;
    position: relative;
    max-width: 49%;
    height: auto;
}

.nav-link.active{
    color: inherit;
    background-color: rgb(53 120 60);
}